<!DOCTYPE html>
<html>
<head>
    <title>Create Category</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" >
</head>
<body>
<%- include('header') %>
<main>
    <div class="container mt-5">
        <div class="row">
            <h2>Create Category</h2>
        </div>
        <div class="container mt-3">
            <div class="col-md-6 offset-md-3">
                <form action="/adminCategories/create" method="POST" onsubmit="return validateForm()">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Enter title" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" name="description" placeholder="Enter description" required>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</main>

<%- include('footer') %>
<script>
    function validateForm() {
        const title = document.forms[0]["title"].value;
        const description = document.forms[0]["description"].value;

        if (!title || !description) {
            alert("All fields must be filled out");
            return false;
        }
        return true;
    }
</script>
</body>
</html>
