<!DOCTYPE html>
<html>
<head>
    <title>Create User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" >
</head>
<body>
<%- include('header') %>
<main>
    <div class="container mt-5">
        <div class="row">
            <h2>Create User</h2>
        </div>
        <div class="container mt-3">
            <div class="col-md-6 offset-md-3">
                <form action="/adminUsers/create" method="POST" onsubmit="return validateForm()">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" placeholder="Enter username" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter email" required>
                    </div>
                    <div class="form-group">
                        <label for="userpassword">Password</label>
                        <input type="password" class="form-control" name="userpassword" placeholder="Enter password" required>
                    </div>
                    <div class="form-group">
                        <label for="is_author">Is Author</label>
                        <input type="number" class="form-control" name="is_author" placeholder="1 or 0" required>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</main>

<%- include('footer') %>
<script>
    function validateForm() {
        const username = document.forms[0]["username"].value;
        const email = document.forms[0]["email"].value;
        const password = document.forms[0]["userpassword"].value;
        const isAuthor = document.forms[0]["is_author"].value;

        if (!username || !email || !password || !isAuthor) {
            alert("All fields must be filled out");
            return false;
        }
        return true;
    }
</script>
</body>
</html>
