<footer>
    <div class="row">
        <div class="col-sm">
            <h6>About Us</h6>
            <ul>
                <li>About news</li>
                <li>Our Team</li>
                <li>Mission and Values</li>
                <li>Testimonials</li>
            </ul>
        </div>
        <div class="col-sm">
            <h6>Social Media</h6>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
                <li>LinkedIn</li>
            </ul>
        </div>
        <div class="col-sm">
            <h6><a href="contacts.html">Contacts</a></h6>
            <ul>
                <li><a href="tel:+380968858666"><i class="fas fa-phone"></i> +380968858666</a></li>
                <li><a href="mailto:news@gmail.com"><i class="fas fa-envelope"></i> news@gmail.com</a></li>
                <li><a href="https://t.me/"><i class="fab fa-telegram"></i> Telegram</a></li>
                <li><a href="https://wa.me/"><i class="fab fa-whatsapp"></i> WhatsApp</a></li>
            </ul>
        </div>
    </div>
</footer>
