<header>
    <h1>News</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/FAQ">FAQ</a></li>
            <li><a href="/Contacts">Contacts</a></li>
<!--            <a class="logOut" v-if="logCheck" style="margin-right: 10px; cursor: pointer;" @click="logOut">Log out</a>-->
           <li><!-- v-else-->
                <a href="/LogIn" style="margin-right: 10px">Log in</a>
                <a href="/SignUp">Sign up</a>
            </li>
<!--            <li v-if="adminCheck"><router-link to="/adminPage/usersTable">Admin Page</router-link></li>-->
        </ul>
    </nav>
</header>