<header>
    <h1>News</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/FAQ">FAQ</a></li>
            <li><a href="/Contacts">Contacts</a></li>
            <li><a href="/logout">Log out</a></li>
            <li>
                <a href="/login" style="margin-right: 10px">Log in</a>
                <a href="/signup">Sign up</a>
            </li>
            <li><a href="/adminUsers">Admin Page</a></li>
        </ul>
    </nav>
</header>