<header>
    <h1>News</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/FAQ">FAQ</a></li> <!--часто задоваемые вопросы -->
            <li><a href="/Contacts">Contacts</a></li>
<!--            <a class="logOut" v-if="logCheck" style="margin-right: 10px; cursor: pointer;" @click="logOut">Log out</a>-->
           <li><!-- v-else-->
                <a href="/LogIn" style="margin-right: 10px">Log in</a> <!--авторизация-->
                <a href="/SignUp">Sign up</a> <!--войти-->
            </li>
            <li><a href="/admin/users">Admin Page</a></li>
        </ul>
    </nav>
</header>